# Ignore virtual environment
venv/*

# Ignore Git files
.git
.gitignore
.github/workflows/*

# Ignore local environment files
.env

# Ignore tests
tests/*

# Ignore VSCode settings
.vscode/*

# Ignore Docker files
.dockerignore
Dockerfile