# Ignore virtual environment
venv/*

# Ignore Git files
.git
.gitignore
.github/workflows/*

# Ignore local environment files
.env

# Ignore VSCode settings
.vscode/*

# Ignore test coverage
.coverage