# Virtual environment
venv/

# Environment variables
.env

# Python cache
*__pycache__/*
*.pyc

# Pytest cache
.pytest_cache/*

# VSCode settings
.vscode/*

# Test coverage
.coverage

# Database
db/sql_app.db