events {}

http {
    upstream app_servers {
        server app_instance_1:8000;
        server app_instance_2:8000;
        # Add more servers as needed
    }

    server {
        listen 80;

        location / {
            proxy_pass http://app_servers;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}
